[package]
name = "delaunator"
version = "0.1.1"
description = "A very fast 2D Delaunay triangulation library."
documentation = "https://docs.rs/delaunator"
repository = "https://github.com/mourner/delaunator-rs"
readme = "README.md"
license = "ISC"
categories = ["algorithms", "data-structures"]
keywords = ["delaunay", "triangulation", "tessellation", "spatial", "geometry"]
authors = ["Vladimir Agafonkin <agafonkin@gmail.com>"]

[dependencies]
ordered-float = "1.0.1"

[dev-dependencies]
criterion = "0.2.5"
rand = "0.5.5"

[lib]
bench = false

[[bench]]
name = "bench"
harness = false
